body {
  height: 100vh;
  text-shadow: 1px 1px 1px rgb(6, 13, 20);
  font-style: italic;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://c2.staticflickr.com/2/1679/26152052365_340c4935ee_k.jpg);
  overflow: hidden;
}

.hr {
  background-color: rgba(217, 217, 217, 0.8);
  height: 1px;
  box-shadow: 0 0 8px 1px gainsboro;
  width: 96%;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

#coords {
  padding-top: 2px;
  padding-bottom: 10px;
}

#humidity {
  padding-bottom: 20px;
}

h6 {
  font-size: 10px;
  text-align: right;
  margin-right: 3%;
}